:root {
  --navbar-height: 96px;
}

.fullPage {
  min-height: calc(100dvh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  width: 60%;
}

.userListContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.UserInfoArea{
  max-width: calc(100% - 60px);
}

.forceLineBreak {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
}

@media(max-width: 768px) {
  .fullPage > h1{
    margin: 0 0 10px 0;
  }

  .container{
    width: 100%; 
  }

  .userListContainer{
    flex-direction: column;
  }

  .buttonContainer{
    justify-content: center;
  }
}